.cargando {
  text-align: center;
  font-style: italic;
  margin: 16px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

button {
  margin-left: 16px;
}
