.cargando, .sin-datos {
  text-align: center;
  font-style: italic;
  margin: 16px 0;
}

table {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
}
td.mat-cell {
  vertical-align: middle;
}
