.tabla-container {
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
}

.filtro {
  width: 100%;
  margin-bottom: 12px;
}

table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.mat-header-cell {
  font-weight: bold;
}

.disponible {
  color: green;
  font-weight: 600;
}

.cerrado {
  color: red;
  font-weight: 600;
}

.en\ espera {
  color: orange;
  font-weight: 600;
}
