<form [formGroup]="form" (ngSubmit)="onSubmit()" class="solicitud-form">

  <div *ngFor="let field of fields" class="form-field">
    <ng-container [ngSwitch]="field.type">

      <!-- Campo de texto / número -->
      <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.name" [readonly]="field.readonly" type="text" />
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.name" [readonly]="field.readonly" type="number" />
      </mat-form-field>

      <!-- Campo select -->
      <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.name">
          <mat-option *ngFor="let opt of field.options" [value]="opt">
            {{ opt }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Campo fecha -->
      <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="field.name" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Campo archivo -->
      <div *ngSwitchCase="'file'" class="file-input">
        <label>{{ field.label }}</label>
        <input type="file" (change)="onFileSelected($event, field.name)" [disabled]="field.readonly" />
      </div>

    </ng-container>
  </div>

  <!-- Botón enviar -->
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || !editable">
    Enviar
  </button>

</form>
