.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start; /* ⚡ hace que los hijos no se estiren */
}

.upload-btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background-color: #00138c;
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  width: auto; /* ⚡ asegura ancho automático */
  min-width: 0;
  height: 32px;
  line-height: 1;
  text-transform: none;
  transition: background-color 0.3s ease;
}

.upload-btn:hover:enabled {
  background-color: #001060;
}


/* Lista de archivos subidos */
.uploaded-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.uploaded-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f5;
  padding: 6px 10px;
  border-radius: 4px;
}

.uploaded-list li mat-icon {
  margin-right: 6px;
  font-size: 18px; /* más pequeño si quieres */
}
