<div class="file-upload-container">
  <button type="button"
          (click)="fileInput.click()"
          [disabled]="cargando"
          class="upload-btn">
    <mat-icon>cloud_upload</mat-icon>
    {{ cargando ? 'Subiendo...' : 'Seleccionar archivo(s)' }}
  </button>

  <input type="file"
         #fileInput
         (change)="onFileSelected($event)"
         accept=".pdf"
         multiple
         hidden />

  <ul *ngIf="archivos.length > 0" class="uploaded-list">
    <li *ngFor="let archivo of archivos; let i = index">
      <mat-icon>description</mat-icon> {{ archivo.nombre }} - Estado: {{ archivo.estado }}
      <button type="button" mat-icon-button color="warn" (click)="removeFile(i)" aria-label="Eliminar">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
