<div class="upload-section">
  <label class="file-label">
    <mat-icon>cloud_upload</mat-icon> Subir Archivos
    <input type="file" (change)="onFileSelected($event)" multiple hidden />
  </label>
</div>

<table *ngIf="archivos.length > 0" class="table-archivos">
  <tr>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let archivo of archivos; let i = index">
    <td>{{ archivo.nombre }}</td>
    <td>{{ archivo.fecha }}</td>
    <td>
      <button mat-icon-button color="warn" (click)="removeFile(i)" aria-label="Eliminar">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>

<div class="enviar-solicitud">
  <button mat-raised-button color="primary" (click)="enviar()" [disabled]="!canSend()">
    Enviar Solicitud
  </button>
</div>
