<footer class="footer-container">
  <!-- Información del proyecto -->
  <div class="footer-left">
    Sistema de Gestión Curricular - FIET | Universidad del Cauca
  </div>

  <!-- Derechos de autor -->
  <div class="footer-center">
    © 2025 Todos los derechos reservados
  </div>

  <!-- Contacto y redes sociales -->
  <div class="footer-right">
    <div class="contact">
      <mat-icon>email</mat-icon>
      <span>Soporte: decafiet&#64;unicauca.edu.co</span>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=100041630904496" target="_blank" aria-label="Facebook">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://www.instagram.com/universidadelcauca/" target="_blank" aria-label="Instagram">
        <mat-icon>photo_camera</mat-icon>
      </a>
    </div>
  </div>
</footer>
