.cargando {
  margin-top: 16px;
  font-style: italic;
}

.sin-datos {
  margin-top: 16px;
  color: gray;
  font-style: italic;
}

table {
  width: 100%;
  margin-top: 16px;
}

span.pendiente {
  color: orange;
  font-weight: bold;
}

span.aprobada {
  color: green;
  font-weight: bold;
}

span.rechazada {
  color: red;
  font-weight: bold;
}
