mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

textarea {
  resize: none;
}

mat-dialog-actions {
  margin-top: 12px;
}

.btn-rechazar {
  background-color: var(--color-primario) !important;
  color: white !important;
}

.btn-rechazar:hover:not(:disabled) {
  background-color: #0024b3 !important;
}

.btn-rechazar:disabled {
  background-color: #ccc !important;
  color: #666 !important;
}